
<h1 class="display-1 my-5">Az állatkert lakói</h1>
<div class="form-floating mb-3">
    <input [(ngModel)]="szo" type="text" class="form-control" id="keres">
    <label for="keres">Keresés:</label>
</div>
<div class="row my-3">
    <div *ngFor="let oszlop of oszlopok" class="col fw-bold">
        {{oszlop['text']}}
    </div>
    <div class="col fw-bold">Műveletek</div>
</div>

<div *ngFor="let allat of allatok|filter:szo" class="row my-2">
    <div *ngFor="let oszlop of oszlopok" class="col ">

        <ng-container *ngIf="oszlop.key=='gondozo'|| oszlop.key=='helye';else nemlakhely">
            {{keresElnevezes(oszlop.key,allat.helye, allat.gondozo)}}
        </ng-container>

        <ng-template #nemlakhely>
            {{allat[oszlop.key]}}
        </ng-template>

    </div>
    <div class="col">
        <button (click)="modifyAnimal(allat.id)"  class="btn btn-warning me-3">Módosítás</button>
        <button (click)="deleteAnimal(allat.id)" type="button" class="btn btn-danger">Törlés</button>
    </div>
</div>